body {
    font-family: Arial;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    color: gray;
    height: 0.01px;
}

.warning {
    color: red;
}

code {
    display: block;
    padding: 10px 10px;
    border-radius: 8px;
    background-color: lightsteelblue;
}

var {
    font-style: normal;
    font-family: monospace;
}
